@page "/alunos/cadastro"
@using MBGestaoEscolar.Entities
@using MBGestaoEscolar.Services.Interfaces


<MudContainer MaxWidth="MaxWidth.Medium" Class="py-16">
    <MudPaper Class="pa-8" Elevation="5">
        <MudText Typo="Typo.h4" Class="mb-6">Cadastro de Alunos</MudText>
        
        <MudForm @ref="_form" Model="@_aluno" @onsubmit="HandleSubmit">
            <MudTextField @bind-Value="_aluno.Nome" 
                          Label="Nome Completo" 
                          Required="true" 
                          RequiredError="Nome é obrigatório"
                          Variant="Variant.Outlined"
                          Class="mb-4" />
            
            <MudTextField @bind-Value="_aluno.CPF" 
                          Label="CPF" 
                          Required="true" 
                          RequiredError="CPF é obrigatório"
                          Variant="Variant.Outlined"
                          Mask="@(new PatternMask("000.000.000-00"))"
                          Class="mb-4" >
            </MudTextField>
            
            <MudTextField @bind-Value="_aluno.Email" 
                          Label="Email" 
                          Required="true" 
                          RequiredError="Email é obrigatório"
                          InputType="InputType.Email"
                          Variant="Variant.Outlined"
                          Class="mb-4" />
            
            <MudTextField @bind-Value="_aluno.Telefone" 
                          Label="Telefone"
                          Variant="Variant.Outlined"
                          Mask="@(new PatternMask("(00) 00000-0000"))"
                          Class="mb-4" >
            </MudTextField>
            
            <MudDatePicker @bind-Date="_aluno.DataNascimento"
                           Label="Data de Nascimento"
                           Variant="Variant.Outlined"
                           Class="mb-4" />
            
            <MudTextField @bind-Value="_aluno.Endereco" 
                          Label="Endereço" 
                          Lines=3
                          Variant="Variant.Outlined"
                          Class="mb-4" />
            
            <div class="d-flex justify-end mt-6">
                <MudButton Variant="Variant.Text" 
                           Color="Color.Default" 
                           Class="mr-2"
                           Href="/alunos">
                    Cancelar
                </MudButton>
                <MudButton Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           ButtonType="ButtonType.Submit">
                    Cadastrar
                </MudButton>
            </div>
        </MudForm>
    </MudPaper>
</MudContainer>

@code {
    private MudForm _form;
    private Aluno _aluno = new Aluno();
    
    private async Task HandleSubmit()
    {
        await _form.Validate();
        
        if (_form.IsValid)
        {
            await _alunoService.AdicionarAsync(_aluno);
            Snackbar.Add("Aluno cadastrado com sucesso!", Severity.Success);
            _aluno = new Aluno();
            await _form.ResetAsync();
        }
    }
    
    [Inject] public ISnackbar Snackbar { get; set; }
    [Inject] public IAlunoService _alunoService { get; set; }
}